@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins";
  font-family: "Barlow";
}
body{
  
  background-color: #232323;
}
@layer utilities {
  .mainheading {
    @apply lg:text-[60px] md:text-[40px] text-[20px] lg:leading-[75px] md:leading-[40px] sm:leading-[20px];
  }
  .subheading {
    @apply lg:text-[48px] md:text-[30px] text-[28px] lg:leading-[60px] md:leading-[38px] sm:leading-[24px];
  }
  .preheading {
    @apply lg:text-[30px] md:text-[24px] text-[18px] lg:leading-[64px] md:leading-[44px] leading-[32px];
  }
  .heading1 {
    @apply lg:text-[38px] md:text-[28px] text-[18px] lg:leading-[70px] md:leading-[50px] sm:leading-[30px];
  }
  .heading2 {
    @apply lg:text-[20px] md:text-[16px] text-[12px] lg:leading-[32px] md:leading-[20px] sm:leading-[15px];
  }
  .text1 {
    @apply lg:text-[26px] md:text-[18px] text-[12px] lg:leading-[32px] md:leading-[20px] sm:leading-[16px];
  }
  .text2 {
    @apply lg:text-[18px] md:text-[16px] text-[14px] lg:leading-[32px] md:leading-[20px] sm:leading-[16px];
  }

  .text3{
    @apply lg:text-[14px] md:text-[12px] text-[10px] lg:leading-[19px] md:leading-[16px] sm:leading-[12px];
  }
  .text4 {
    @apply lg:text-[12px] md:text-[10px] text-[8px] lg:leading-[18px] md:leading-[14px] sm:leading-[10px];
  }
  .text5 {
    @apply lg:text-[10px] md:text-[8px] text-[6px] lg:leading-[17px] md:leading-[12px] sm:leading-[8px];
  }

  
}


/* Add this to support sticky behavior */
/* .sticky-sidebar {
  position: fixed;
  top: 20px;
  width: 350px; Adjust based on your layout
} */

